.content{
    margin-top:90px;
}

.image{
    width:150px;
    height:150px;
    margin: auto;
}
.pic{
    width: 200px;
    height: 200px;
    margin: auto;

    border-radius: 300px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: flex;
    background:#33495D;
   
}


.right_col{
    height:91%;
   
}

h4{
    text-align: center;
    width:100%
}
