/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Jun, 2018, 1:37:36 AM
    Author     : Dion
*/
body{
    background-color: white;

}
.vl {
    border-left: 1px solid rgb(207, 207, 209,1);
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top:-55px;
    top:0px;
}
.input-group{
    border:2px solid rgb(207, 207, 209, 0.2);
    border-radius:15px;
}
.input-group-addon{
    height:50px;
    background-color: transparent;
    border:none;
}
.form-control{
    height:50px;
    background-color: transparent;
    border:none;
    color:black;
    font-size:18px
}
.btn{
    height:50px;
    background-color: #2A3F54;
    border-color:#2A3F54;
    font-size:large;
    font-weight:bold;
  

}
.forget{
    color:black;
    font-size:medium;

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .vl {
        visibility: hidden;
    }
  
}

@media (min-width: 481px) and (max-width: 767px) {
    .vl {
        visibility: hidden;
    }
 
  
}



@media (min-width: 320px) and (max-width: 480px) {
  
  .vl {
        visibility: hidden;
    }
 
  
}
