/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 13, 2018, 3:26:23 PM
    Author     : ZhenDan
*/
body {
    color: #73879C;
    background: #F7F7F7;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    
}
div{
    display:block;
    
}
.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:10px
}

.tile_count .tile_stats_count{
    border-bottom: 1px solid #D9DEE4;
    border-left:3px solid #C0C0C0;
    padding: 0 10px 0 20px;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
.tile_count .tile_stats_count, ul.quick-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}
.tile_count .tile_stats_count span {
    font-size: 12px;
}
.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all .2s ease;
}
.x_panel, .x_title {
    margin-bottom: 10px;
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}
.x_content {
    padding: 0 5px 6px;
    float: left;
    clear: both;
    margin-top: 5px;
    position:relative;
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    font-size: 20px;
   
}

.x_title h2 small {
    margin-left: 10px;
}
.panel_toolbox {
    float: right;
    min-width: 70px;
}
.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}
.navbar-right {
    margin-right: 0;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


.panel_toolbox>li {
    float: left;
    cursor: pointer;
}
.nav>li {
    position: relative;
    display: block;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}